---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.data.weekly-events.tab-title }}</title>
    {% include standard_head.html %}
</head>
<body>
    {% include header.html %}
    <main class="events-main">
        <div class="heading">
            {% assign numevents = site.data.weekly-events.events-info.size | divided_by: 2 %}
            {% for event in site.data.weekly-events.events-info limit: numevents %}
            <h3 id="{{ event.id  }}" class="event-title">{{ event.name }}</h3>
            {% endfor %}
            <h1>{{ site.data.weekly-events.page-title }}</h1>
            {% for event in site.data.weekly-events.events-info offset: numevents %}
            <h3 id="{{ event.id  }}" class="event-title">{{ event.name }}</h3>
            {% endfor %}
        </div>
        {% for event in site.data.weekly-events.events-info %}
        <div id="{{ event.id }}-unit" class="event-unit">
            <div class="event-header">
                <p> {{ event.time  }}</p>
                <h2>{{ event.name  }}</h2>
                <p> {{ event.location  }}</p>
            </div>
            <div class="event-info">
                <img src="{{ event.img  }}">
                <p>{{ event.description  }}</p>
            </div>
        </div>
        {% endfor %}

    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
