<footer>
    <img src="/assets/img/macsa-logo.png">
    <div class="footer-content">
        <div class="social-icons">
            <span class="social-icon">
                <a class="icon-facebook" target="_blank" href="https://www.facebook.com/Maccatholics"></a>
            </span>
            <span class="social-icon">
                <a class="icon-twitter" target="_blank" href="https://twitter.com/MACSA_"></a>
            </span>
            <span class="social-icon">
                <a class="icon-youtube" target="_blank" href="https://www.youtube.com/user/maccatholics"></a>
            </span>
            <span class="social-icon">
                <a class="icon-instagram" target="_blank" href="https://instagram.com/macsa_/"></a>
            </span>
        </div>
        <p class="copywrite">
            McMaster Catholic Students Association © 2016. All Rights Reserved
        </p>

        <div class="footer-nav">
            <a href="/">Home</a>
            <a href="#">Liturgy &amp; Sacraments</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
</footer>
